
body{
    font-family: Arial, sans-serif;
    background-color: rgb(125, 157, 186);
}
h1{
    color: rgb(233, 65, 65);
}
form{
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(157, 16, 193);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2px solid rgb(222, 71, 180);
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(238, 148, 31);
    color: aliceblue;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(226, 43, 73);
}

#result{
    font-family: 1.75em;
    font-weight: bold;
}